 
 body {background-color:none;
 margin: 0.01;}
/* Header */

	#header {
		text-align: center;
		padding: 3em 0 0em 0;
	}

		#header h1 {
			color: rgba(255, 255, 255, 0.65);
		}

		#header .avatar {
			border-radius: 100%;
			display: inline-block;
			margin: 0 0 2em 0;
			padding: 0.4em;
			border: solid 1px rgba(255, 255, 255, 0.25);
			background-color: rgba(255, 255, 255, 0.075);
		}

			#header .avatar img {
				border-radius: 100%;
				display: block;
				width: 14em;
			}
			

		@media screen and (max-width: 1280px) {

			#header {
				padding: 4em 0 2em 0;
			}

		}
		
		
		
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


.fa-skype {
  background: #00aff0;
  color: white;
}


.fa-yahoo {
  background: #430297;
  color: white;
}



/********************************************* half page half pictures88*****************************/

*, *:before, *:after {
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0;
}

 .skw-pages {
	 overflow: hidden;
	 position: relative;
	 height: 90vh;
	 opacity:0.85;
}
 .skw-page {
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 100%;
}
 .skw-page__half {
	 position: absolute;
	 top: 0;
	 width: 50%;
	 height: 100vh;
	 transition: transform 1s;
}
 .skw-page__half--left {
	 left: 0;
	 transform: translate3d(-32.4vh, 100%, 0);
}
 .skw-page__half--right {
	 left: 50%;
	 transform: translate3d(32.4vh, -100%, 0);
}
 .skw-page.active .skw-page__half {
	 transform: translate3d(0, 0, 0);
}
 .skw-page__skewed {
	 overflow: hidden;
	 position: absolute;
	 top: 0;
	 width: 140%;
	 height: 100%;
	 transform: skewX(-18deg);
	 background: none;
}
 .skw-page__half--left .skw-page__skewed {
	 left: -40%;
}
 .skw-page__half--right .skw-page__skewed {
	 right: -40%;
}
 .skw-page__content {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 flex-flow: column wrap;
	 position: absolute;
	 left: 0;
	 top: 63px;
	 width: 100%;
	 height: 100%;
	 padding: 0 30%;
	 color: #fff;
	 transform: skewX(18deg);
	 transition: transform 1s, opacity 1s;
	 background-size: cover;
}
 .skw-page__half--left .skw-page__content {
	 padding-left: 30%;
	 padding-right: 30%;
	 transform-origin: 100% 0;
}
 .skw-page__half--right .skw-page__content {
	 padding-left: 30%;
	 padding-right: 30%;
	 transform-origin: 0 100%;
}
 .skw-page.inactive .skw-page__content {
	 opacity: 0.4;
	 transform: skewX(18deg) scale(0.95);
}
 .skw-page__heading {
	 margin-bottom: 15px;
	 text-transform: uppercase;
	 font-size: 25px;
	 text-align: center;
}
 .skw-page__description {
	 font-size: 20px;
	 text-align: center;
}
 .skw-page__link {
	 color: #ffa0a0;
}
 .skw-page-1 .skw-page__half--left .skw-page__content {
	 background-image: url('file:///C:/Users/currys/Desktop/kuksandoo%20web/images/avatar.jpg');
}
 .skw-page-1 .skw-page__half--right .skw-page__content {
	 background: #292929;
	 opacity:0.85;
}
 .skw-page-2 .skw-page__half--left .skw-page__content {
	 background: #292929;
}
 .skw-page-2 .skw-page__half--right .skw-page__content {
	 background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-2.jpg');
}
 .skw-page-3 .skw-page__half--left .skw-page__content {
	 background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/mousover-img-2.jpg');
}
 .skw-page-3 .skw-page__half--right .skw-page__content {
	 background: #292929;
}
 .skw-page-4 .skw-page__half--left .skw-page__content {
	 background: #292929;
}
 .skw-page-4 .skw-page__half--right .skw-page__content {
	 background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');
}
 .skw-page-5 .skw-page__half--left .skw-page__content {
	 background-image: url('file:///C:/Users/currys/Desktop/kuksandoo%20web/images/153525313_128840599151834_210446815314880781_n.jpg');
}
 .skw-page-5 .skw-page__half--right .skw-page__content {
	 background: #292929;
}
 









*************************************************/*pictures*/


*, *:before, *:after {
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0;
}
 
 .cont {
	 position: relative;
	 overflow: hidden;
	 height: 100vh;
	 padding: 80px 70px;
}
 .cont__inner {
	 position: relative;
	 height: 100%;
}
 .cont__inner:hover .el__bg:after {
	 opacity: 1;
}
 .el {
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 19.2%;
	 height: 100%;
	 background: #252525;
	 transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
	 will-change: transform, width, opacity;
}
 .el:not(.s--active) {
	 cursor: pointer;
}
 .el__overflow {
	 overflow: hidden;
	 position: relative;
	 height: 100%;
}
 .el__inner {
	 overflow: hidden;
	 position: relative;
	 height: 100%;
	 transition: transform 1s;
}
 .cont.s--inactive .el__inner {
	 transform: translate3d(0, 100%, 0);
}
 .el__bg {
	 position: relative;
	 width: calc(100vw - 140px);
	 height: 100%;
	 transition: transform 0.6s 0.7s;
	 will-change: transform;
}
 .el__bg:before {
	 content: "";
	 position: absolute;
	 left: 0;
	 top: -5%;
	 width: 100%;
	 height: 110%;
	 background-size: cover;
	 background-position: center center;
	 transition: transform 1s;
	 transform: translate3d(0, 0, 0) scale(1);
}
 .cont.s--inactive .el__bg:before {
	 transform: translate3d(0, -100%, 0) scale(1.2);
}
 .el.s--active .el__bg:before {
	 transition: transform 0.8s;
}
 .el__bg:after {
	 content: "";
	 z-index: 1;
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 background: rgba(0, 0, 0, 0.3);
	 opacity: 0;
	 transition: opacity 0.5s;
}
 .cont.s--el-active .el__bg:after {
	 transition: opacity 0.5s 1.4s;
	 opacity: 1 !important;
}
 .el__preview-cont {
	 z-index: 2;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 transition: all 0.3s 1.2s;
}
 .cont.s--inactive .el__preview-cont {
	 opacity: 0;
	 transform: translateY(10px);
}
 .cont.s--el-active .el__preview-cont {
	 opacity: 0;
	 transform: translateY(30px);
	 transition: all 0.5s;
}
 .el__heading {
	 color: #fff;
	 text-transform: uppercase;
	 font-size: 18px;
}
 .el__content {
	 z-index: -1;
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 padding: 30px;
	 opacity: 0;
	 pointer-events: none;
	 transition: all 0.1s;
}
 .el.s--active .el__content {
	 z-index: 2;
	 opacity: 1;
	 pointer-events: auto;
	 transition: all 0.5s 1.4s;
}
 .el__text {
	 text-transform: uppercase;
	 font-size: 40px;
	 color: #fff;
}
 .el__close-btn {
	 z-index: -1;
	 position: absolute;
	 right: 10px;
	 top: 10px;
	 width: 60px;
	 height: 60px;
	 opacity: 0;
	 pointer-events: none;
	 transition: all 0s 0.45s;
	 cursor: pointer;
}
 .el.s--active .el__close-btn {
	 z-index: 5;
	 opacity: 1;
	 pointer-events: auto;
	 transition: all 0s 1.4s;
}
 .el__close-btn:before, .el__close-btn:after {
	 content: "";
	 position: absolute;
	 left: 0;
	 top: 50%;
	 width: 100%;
	 height: 8px;
	 margin-top: -4px;
	 background: #fff;
	 opacity: 0;
	 transition: opacity 0s;
}
 .el.s--active .el__close-btn:before, .el.s--active .el__close-btn:after {
	 opacity: 1;
}
 .el__close-btn:before {
	 transform: rotate(45deg) translateX(100%);
}
 .el.s--active .el__close-btn:before {
	 transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
	 transform: rotate(45deg) translateX(0);
}
 .el__close-btn:after {
	 transform: rotate(-45deg) translateX(100%);
}
 .el.s--active .el__close-btn:after {
	 transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
	 transform: rotate(-45deg) translateX(0);
}
 .el__index {
	 overflow: hidden;
	 position: absolute;
	 left: 0;
	 bottom: -80px;
	 width: 100%;
	 height: 100%;
	 min-height: 250px;
	 text-align: center;
	 font-size: 20vw;
	 line-height: 0.85;
	 font-weight: bold;
	 transition: transform 0.5s, opacity 0.3s 1.4s;
	 transform: translate3d(0, 1vw, 0);
}
 .el:hover .el__index {
	 transform: translate3d(0, 0, 0);
}
 .cont.s--el-active .el__index {
	 transition: transform 0.5s, opacity 0.3s;
	 opacity: 0;
}
 .el__index-back, .el__index-front {
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 width: 100%;
}
 .el__index-back {
	 color: #2f3840;
	 opacity: 0;
	 transition: opacity 0.25s 0.25s;
}
 .el:hover .el__index-back {
	 transition: opacity 0.25s;
	 opacity: 1;
}
 .el__index-overlay {
	 overflow: hidden;
	 position: relative;
	 transform: translate3d(0, 100%, 0);
	 transition: transform 0.5s 0.1s;
	 color: transparent;
}
 .el__index-overlay:before {
	 content: attr(data-index);
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 width: 100%;
	 height: 100%;
	 color: #fff;
	 transform: translate3d(0, -100%, 0);
	 transition: transform 0.5s 0.1s;
}
 .el:hover .el__index-overlay {
	 transform: translate3d(0, 0, 0);
}
 .el:hover .el__index-overlay:before {
	 transform: translate3d(0, 0, 0);
}
 .el:nth-child(1) {
	 transform: translate3d(0%, 0, 0);
	 transform-origin: 50% 50%;
}
 .cont.s--el-active .el:nth-child(1):not(.s--active) {
	 transform: scale(0.5) translate3d(0%, 0, 0);
	 opacity: 0;
	 transition: transform 0.95s, opacity 0.95s;
}
 .el:nth-child(1) .el__inner {
	 transition-delay: 0s;
}
 .el:nth-child(1) .el__bg {
	 transform: translate3d(0%, 0, 0);
}
 .el:nth-child(1) .el__bg:before {
	 transition-delay: 0s;
	 background-image: url("file:///C:/Users/currys/Desktop/kuksandoo%20web/images/154273100_298279281650318_3386374955039635090_n.jpg");
}
 .el:nth-child(2) {
	 transform: translate3d(105.2083333333%, 0, 0);
	 transform-origin: 155.2083333333% 50%;
}
 .cont.s--el-active .el:nth-child(2):not(.s--active) {
	 transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
	 opacity: 0;
	 transition: transform 0.95s, opacity 0.95s;
}
 .el:nth-child(2) .el__inner {
	 transition-delay: 0.1s;
}
 .el:nth-child(2) .el__bg {
	 transform: translate3d(-19.2%, 0, 0);
}
 .el:nth-child(2) .el__bg:before {
	 transition-delay: 0.1s;
	 background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-4.jpg");
}
 .el:nth-child(3) {
	 transform: translate3d(210.4166666667%, 0, 0);
	 transform-origin: 260.4166666667% 50%;
}
 .cont.s--el-active .el:nth-child(3):not(.s--active) {
	 transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
	 opacity: 0;
	 transition: transform 0.95s, opacity 0.95s;
}
 .el:nth-child(3) .el__inner {
	 transition-delay: 0.2s;
}
 .el:nth-child(3) .el__bg {
	 transform: translate3d(-38.4%, 0, 0);
}
 .el:nth-child(3) .el__bg:before {
	 transition-delay: 0.2s;
	 background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-5.jpg");
}
 .el:nth-child(4) {
	 transform: translate3d(315.625%, 0, 0);
	 transform-origin: 365.625% 50%;
}
 .cont.s--el-active .el:nth-child(4):not(.s--active) {
	 transform: scale(0.5) translate3d(315.625%, 0, 0);
	 opacity: 0;
	 transition: transform 0.95s, opacity 0.95s;
}
 .el:nth-child(4) .el__inner {
	 transition-delay: 0.3s;
}
 .el:nth-child(4) .el__bg {
	 transform: translate3d(-57.6%, 0, 0);
}
 .el:nth-child(4) .el__bg:before {
	 transition-delay: 0.3s;
	 background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-6.jpg");
}
 .el:nth-child(5) {
	 transform: translate3d(420.8333333333%, 0, 0);
	 transform-origin: 470.8333333333% 50%;
}
 .cont.s--el-active .el:nth-child(5):not(.s--active) {
	 transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
	 opacity: 0;
	 transition: transform 0.95s, opacity 0.95s;
}
 .el:nth-child(5) .el__inner {
	 transition-delay: 0.4s;
}
 .el:nth-child(5) .el__bg {
	 transform: translate3d(-76.8%, 0, 0);
}
 .el:nth-child(5) .el__bg:before {
	 transition-delay: 0.4s;
	 background-image: url("images/img1.jpg");
}
 .el:hover .el__bg:after {
	 opacity: 0;
}
 .el.s--active {
	 z-index: 1;
	 width: 100%;
	 transform: translate3d(0, 0, 0);
	 transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
}
 .el.s--active .el__bg {
	 transform: translate3d(0, 0, 0);
	 transition: transform 0.6s;
}
 .el.s--active .el__bg:before {
	 transition-delay: 0.6s;
	 transform: scale(1.1);
}


 
 
 
 /************************ our team***********************/
 

 .pic1{
    border-radius: 50%;
    overflow: hidden;
    position: relative;
	width:25%;
}


.pic1:before,
 .pic1:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 13px solid #e6e5e5;
    position: absolute;
    top: 0;
    left: 0;
}
.pic1:after{
    border-color: #37b0f1 #e6e5e5 #e6e5e5 #37b0f1;
    z-index: 1;
    transform: rotate(-10deg);
    transition: all 0.5s ease 0s;

}
.pic1:after:hover{ transform: rotate(350deg); }
.pic1 img{
    width: 100%;
    height: auto;
		
}
.title1{
    font-size: 26px;
    font-weight: bold;
    color: #222;
    padding-bottom: 10px;
    margin: 15px 0 10px 0;
    position: relative;
}
.title1:after{
    content: "";
    width: 30px;
    height: 2px;
    background: #222;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.post1{
    display: block;
    font-size: 16px;
    font-style: italic;
    color: #777;
}
 .icon1{
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}
.icon1 li{ display: inline-block; }
 .icon1 li a{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #e0e0e0;
    font-size: 14px;
    color: #999;
    margin-right: 5px;
    transition: all 0.3s ease-out 0s;
}
 .icon1 li a:hover{
    background: #37b0f1;
    color: #fff;
}
 
 /************************ our team***********************/


.pic{
    border-radius: 50%;
    overflow: hidden;
    position: relative;
	width:22%;
}


.pic:before,
 .pic:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 13px solid #e6e5e5;
    position: absolute;
    top: 0;
    left: 0;
}
.pic:after{
    border-color: #37b0f1 #e6e5e5 #e6e5e5 #37b0f1;
    z-index: 1;
    transform: rotate(-10deg);
    transition: all 0.5s ease 0s;
}
.pic:after:hover{ transform: rotate(350deg); }
.pic img{
    width: 100%;
    height: auto;
}
.title{
    font-size: 26px;
    font-weight: bold;
    color: #222;
    padding-bottom: 10px;
    margin: 15px 0 10px 0;
    position: relative;
}
.title:after{
    content: "";
    width: 30px;
    height: 2px;
    background: #222;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.post{
    display: center-right;
    font-size: 16px;
    font-style: italic;
    color: #777;
}
 .icon{
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}
.icon li{ display: inline-block; }
 .icon li a{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #e0e0e0;
    font-size: 14px;
    color: #999;
    margin-right: 5px;
    transition: all 0.3s ease-out 0s;
}
 .icon li a:hover{
    background: #37b0f1;
    color: #fff;
}

	
/***********************************FOOOOOOOOOOOOOOOOOOOOOOOTER*****************************/


footer{
	position: buttom;
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}
